**[Slide No. 41]**

1. Write a Python program to create a set.

In [1]:
set1 = {2,'sas','854',3423}
set1

{2, 3423, '854', 'sas'}

**[Slide No.41]**

2. Write a Python program to add member(s) in a set.

In [2]:
set1.add('656')
print(set1)

{'656', 2, 'sas', '854', 3423}

**[Slide No. 41]**
 
 3. Write a Python program to add string , int, list and float  member(s) in a set.

In [3]:
set2 = {1,5,6}
list1 = [45,878,626]
string = 'string'
inte = 8884
floa = 55.62

list2 = [tuple(list1),string,inte,floa]
for w in list2:
    set2.add(w)
set2

{(45, 878, 626), 1, 5, 55.62, 6, 8884, 'string'}

In [4]:
set1.update(list1)
set1.update(set2)
set1

{(45, 878, 626),
 1,
 2,
 3423,
 45,
 5,
 55.62,
 6,
 626,
 '656',
 '854',
 878,
 8884,
 'sas',
 'string'}

**[Slide No. 41]**

4. Write a program to add multiple element in set.

In [5]:
set3 = {3,1,23.32,'fsdfs'}
#set3.update(set2)
set3.update(set(list1))
set3

{1, 23.32, 3, 45, 626, 878, 'fsdfs'}

**[Slide No. 43]**

5. What is the output :

my_set = {1, 3, 4, 5, 6}

Explain the difference between discard and remove method in set

In [6]:
set2.remove(5)
set2

{(45, 878, 626), 1, 55.62, 6, 8884, 'string'}

In [8]:
set2.discard(5)
set2

{(45, 878, 626), 1, 55.62, 6, 8884, 'string'}

### ANSWER:- Discard don't give errors if the element is not present in the set, but remove gives the error if it does not find the element.

**[Slide No. 42]**

6. Write a program to remove duplicate value from set.

In [10]:
list_1 = [1,4,23,2,1,2,3,4,5,122,2,3,4]
set_aa = set(list_1)

set_aa

{1, 2, 3, 4, 5, 23, 122}

7.  Write a Python program to clear a set.

In [11]:
set4 = {3,1,23.32,'fsdfs'}
set4.clear()
set4

set()

**[Slide No. 43]**

8. Write a program to add two set.

In [14]:
set_b = {3,'re'}
set_c = {4,'23'}

set_c.update(set_b)

set_c

{'23', 3, 4, 're'}

**[Slide No. 43]**

9. What is the output of:

months = set(["January","February", "March", "April", "May", "June"])   

print("\nprinting the original set ... ")    

-Q. Print the set month    

print("\nRemoving some months from the set...");    

-Q. Remove january  from the set    

-Q. Remove may  from the set  


print("\nPrinting the modified set...");    

print(months)

In [25]:
months = set(["January","February", "March", "April", "May", "June"])

print("printing the original set...\n",months)

printing the original set...
 {'February', 'January', 'April', 'May', 'June', 'March'}

In [26]:
months.remove("January")
months_rm_Jan = months
months = set(["January","February", "March", "April", "May", "June"])
months.remove("May")
months_rm_May = months

print("Removing some months from the set\n",months_rm_Jan,"\n",months_rm_May)

Removing some months from the set
 {'February', 'April', 'May', 'June', 'March'}
 {'February', 'January', 'April', 'June', 'March'}

**[Slide No. 44]**

10. Find union of

Days1 = {"Monday","Tuesday","Wednesday","Thursday"}
    
Days2 = {"Friday","Saturday","Sunday"}

In [27]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}

Days2 = {"Friday","Saturday","Sunday"}

Days1.union(Days2)

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

**[Slide No. 45]**

 11. Write a Python program to create an intersection of sets.

In [30]:
w = {1,2,5,6,9,12,85}
q = {1,5,85,9,56,58,48,96}

w.intersection(q)

{1, 5, 9, 85}

**[Slide No. 45]**

12. Write a Python program to create set difference.

In [31]:
w.difference(q)

{2, 6, 12}

In [32]:
q.difference(w)

{48, 56, 58, 96}